/* LAYOUT */
.layout {
  display: flex;
  height: 100vh;
  background: #f8fafc;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.logo-img {
    height: 114px;
    width: 72%;
}


.logo .icon {
  margin-right: 8px;
  color: #2563eb;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: bold;
}

.role {
  font-size: 11px;
  background: #2563eb;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}

.menu {
  margin-top: 20px;
  flex: 1;
}

.menu a {
  display: block;
  padding: 10px;
  border-radius: 8px;
  color: #374151;
  text-decoration: none;
  margin-bottom: 6px;
}

.menu a.active,
.menu a:hover {
  background: #2563eb;
  color: white;
}

.logout {
  border: none;
  background: transparent;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

/* CONTENT */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TOPBAR */
.topbar {
  height: 64px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
.notifications .material-icons {
  font-size: 28px;
  color: #2563eb;
}

.notifications .badge-count {
    position: absolute;
    top: 22px;
    right: 30px;
    background: red;
    color: white;
    font-size: 11px;
    padding: 0px 4px;
    border-radius: 50%;
}

/* DASHBOARD */
.dashboard {
  padding: 24px;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 24px;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.card h3 {
  font-size: 24px;
  margin-top: 8px;
}

/* VISITS */
.panel {
  background: white;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.visit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 12px;
  margin-top: 12px;
}

.patient {
  display: flex;
  align-items: center;
  gap: 12px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e7ff;
  display: grid;
  place-items: center;
  font-weight: bold;
  color: #2563eb;
}

.badge {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.confirmed {
  background: #2563eb;
  color: white;
}

.scheduled {
  background: #9333ea;
  color: white;
}
