spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/medmanager?createDatabaseIfNotExist=true
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: pubg4life

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

